@charset "UTF-8";
@media screen and (min-width: 768px){
/*-------------------------------------------------------------------*/


body{
 min-width: 1312px;
 margin: 0 auto;
}

body{
 min-width: 1312px;
 margin: 0 auto;
}

.bnr_img {
 display: block;
 text-align: center;
}

.bnr_img_sp {
 display: none;
} 

.sp_v_area,
#Panel1
{
 display: none;
}




html{
 height: 100%;
}


body,h1,h2,h3,h4,h5,h6,div,p,pre,ul,ol,dl,dt,dd,address,form,blockquote,article,section,figure,textarea,input{
 margin: 0;
 padding: 0;
 font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Helvetica,"MS Pゴシック","MS PGothic",sans-serif;
}



img{
 border: none;
 vertical-align: top;
}
ul{
 list-style: none;
}
a{
 outline: none;
 overflow: hidden;
 cursor: pointer;
 text-decoration: none;
}
a:hover{
 outline: none;
 overflow: hidden;
 cursor: pointer;
 text-decoration: underline;
}
a img{
 border: 0px;
}

.clear{
 clear: both;
}


.header{
 width: 1200px;
 margin: 0 auto;
 padding-top: 30px;
 padding-bottom: 24px;
}
.hlogo{
 width: 188px;
 margin-left: 485px;
}

.hlg {
 display:none;
}


.main img{
 width: 100%;
}


.maintit{
 margin: 0 auto;
 font-size: 25px;
 font-weight: bold;
 text-align: center;
 margin-top: 10px;
 margin-bottom: 10px;
}
.maintxt{
 margin: 0 auto;
 font-size: 16px;
 text-align: center;
 margin-top: 80px;
 line-height: 2em;
}
.maintit2{
 margin: 0 auto;
 font-size: 30px;
 font-weight: bold;
 text-align: center;
 margin-top: 100px;
 color: #fff;
 background-color: #000;
 line-height: 1.6em;
 margin-bottom: 25px;
}
.maintit3{
 margin: 0 auto;
 font-size: 30px;
 font-weight: bold;
 text-align: center;
 color: #fff;
 background-color: #bebebe;
 line-height: 1.6em;
 margin-bottom: 25px;
}




.ic_area{
 border-top: dotted 1px #a7a7a7;
 width:1200px;
 margin:0 auto;
}
.ic_area_bb{
 border-top: dotted 1px #a7a7a7;
 border-bottom: dotted 1px #a7a7a7;
 width:1200px;
 margin:0 auto;
}

.ic_area_l{
 width: 180px;
 float: left;
 height: 150px;
}
.ic_area_r{
 width: 950px;
 float: right;
}


.ic_area_rtit{
 font-size: 19px;
 font-weight: bold;
 text-align: left;
 margin-top: 20px;
}
.ic_area_rtxt{
 color: #999;
 font-size: 14px;
 text-align: left;
 line-height: 1.8em;
 margin-top: 8px;
 margin-bottom: 20px;
}



.more{
 text-align: center;
 margin-top: 80px;
 margin-bottom: 80px;
}
.more a{
 width: 220px;
 margin: 0 auto;
 display: block;
 color: #fff;
 font-size: 18px;
 padding: 10px 20px 10px 20px;
 text-decoration: none;
 border: solid 1px #2160a4;
 background-color: #2160a4;
 -webkit-border-radius: 6px;
 -moz-border-radius: 6px;
 border-radius: 6px;
 font-weight: bold;
}
.more a:hover{
 color: #2160a4;
 border: solid 1px #2160a4;
 background-color: #fff;
 text-decoration: none;
}


.cfm_area{
 border: solid 1px #898989;
 padding: 20px;
 width: 950px;
 margin: 0 auto;
 margin-bottom: 150px;
}
.cfm_tit{
 font-size: 15px;
 text-align: left;
 margin-bottom: 10px;
}
.cfm_txth,
.cfm_txtt{
 color: #999;
 font-size: 13px;
 text-align: left;
 line-height: 2em;
}
.cfm_txtt{
 margin-bottom: 20px;
 padding-left: 34px;
}
.cfm_txtt a,
.cfm_txth a{
 color: #999;
 text-decoration: underline;
}
.cfm_txtt a:hover,
.cfm_txth a:hover{
 text-decoration: none;
}
.coupon_area{
 margin-left: 3px;
 margin-right: 3px;
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 border-radius: 3px;
 background-color: #000;
 color: #fff;
 padding-left: 3px;
 padding-right: 3px;
}
.white_area{
 color: #fff;
}



















.pan {
 width:1200px;
 margin:0 auto;
 border-top:dotted 1px #999;
 margin-bottom: 20px;
}

.pan_area {
    margin:0;
    padding: 20px 20px 0px 20px;
}

.pan_area p {
    margin:0;
    padding:0 8px 0 0;
    float:left;
    font-size:12px;
    color:#999
}

.pan_area p a {
    color:#1a64af;
    text-decoration:none
}

.pan_area p a:hover {
    text-decoration:underline
}






.gnav {
    background-color:#323232;
    width: 100%;
}

.gnav_area {
    width:1200px;
    margin:0 auto;
    border-right: dotted 1px #898a8a;
}
.gnavs,
.gnavs2{
    float:left;
    font-size:14px;
    color:#fff;
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
    border-left: dotted 1px #898a8a;
}
.gnavs {
    width: 132px;
}

.gnavs2 {
    width: 170px;
}


.gnavs a,
.gnavs2 a{
    text-align:center;
    color:#fff;
    text-decoration:none;
}

.gnavs a:hover,
.gnavs2 a:hover{
    color:#0053a6;
    text-decoration:none;
}








.main_title {
    color:#333;
    font-size:18px;
    text-align:left;
    padding:0 0 0 40px;
    margin:0 0 40px;
    height:30px;
    line-height:1.8em;
    background:url(../img/ic.jpg) top left no-repeat

}


.main_content {
    width:980px;
    margin:0 auto;
    padding:20px 0 80px 0;
}

.tbl_time {
    border-collapse: collapse;
    border-spacing: 0;
    margin:0 0 30px 0;
}
.tbl_time, tr, td, th{
 padding: 0;
 text-align: center;
 border:1px solid #999;
}

.tbl_time th {
    background: #f1f4f8;
    color: #333;
    font-size: 12px;
    font-weight:bold;
    width: 60px;
}
.tbl_time th.stday{
   background: #87cefa;
}
.tbl_time th.snday{
   background: #ffc0cb;
}

.tbl_time th.w140{
    width: 140px;
}

.tbl_time td.tleft {
    text-align: left;
    padding-left:5px;
    color: #333;
    font-size: 12px;
}
.tbl_time td.nday {
    background: #dc143c;
}

.ctt_group {

    float:left;
    margin-bottom: 30px;
    width: 100%;
}
.ctt_group img {
  height: 400px;
  margin-left: 45px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.quick_b img {
	height: 50px;	
	margin-right: 45px;
}

.ctt_ttl {
    margin:30px 0 10px 0;
    padding:0 0 0 15px;
    background-color:#5b5b5b;
    line-height:2.5em;
    text-align:left;
    color:#fff;
    font-size:16px;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px
}
.ctt_ttl span {

    border-left:solid 3px #fff;
    padding:0 0 0 15px
}

.ctt {

	float: left;
	padding-top: 15px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;

	color: #333;
	font-size: 12px;
	text-align: left;
	padding-right: 0;
	padding-bottom: 6px;
	padding-left: 0;
	width: 950px;
	margin-left: 15px;
	line-height: 1.6em;
}


.ctt_sub {
  display: block;
  margin-left: 10px;
}

.clear {
    clear:both;
}








































.infonav {
    background-color:#323232;
    /* 20150621追加分 */
    width: 100%;
    min-width: 1200px;
    /* 20150621追加分 */
}

.infonav_area {
    width:1120px;
    margin:0 auto 20px;
    padding:30px 0 20px;
}

.infonav_area_l {
    float:left
}

.infonav_area_r {
    float:right
}

.infonav_area_l img {
    width:187px
}

.infonav_area_contact {
    width:266px;
    height:140px;
    float:left;
    padding:0 0 0 20px;
    border-left:1px solid #999999;
}
.infonav_area_off,.infonav_area_on {
    width:326px;
    height:155px;
    padding:0 20px;
    float:left;
}

.infonav_area_off {
    border-left: 1px solid #999999;
}

.infonav_area_contact p,.infonav_area_off p,.infonav_area_on p {
    color:#fff
}

.infonav_area_contact p a,.infonav_area_tel a,.infonav_area_mail a {
    color:#fff;
    text-decoration:none
}

.infonav_area_contact p a:hover,.infonav_area_tel a:hover,.infonav_area_mail a:hover {
    color:#fff;
    text-decoration:underline
}

.infonav_area_contact {
    background:url(../img/footer_contact.jpg) no-repeat;
    background-position: 20px 0px;
}

.infonav_area_tel {
    background:url(../img/footer_tel.jpg) no-repeat top left;
    background-size: contain;
}


.infonav_area_mail {
    background:url(../img/footer_mail.jpg) no-repeat top left;
    background-size: contain;
}


.infonav_area_contact p {
    font-size:11px;
    padding:28px 0 0
}

.infonav_area p.infonav_main_text {
    font-size:17px;
}

.infonav_area p.infonav_sub_text {
    color:#999999;
    font-size:11px;
}

.infonav_area p.infonav_time {
    font-size:11px;
    margin: 20px 0 0 0;
}

.infonav_area_tel {
    font-size:18px;
    margin: 10px 0 0 0;
    padding:5px 0 0 40px;
}

.infonav_area_mail {
    font-size:18px;
    margin: 5px 0 0 0;
    padding:5px 0 0 40px
}

.infonav_area_mail span {
    font-size:18px;
    padding:0
}

.storenav_area {
    width:1120px;
    margin:0 auto;
    padding:0 0 20px;
    color:#fff
}

.storenav_area_l {
    float:left
}

.storenav_area_r {
    float:right
}

.storenav_area a {
    color:#fff;
    text-decoration:none
}

.storenav_area a:hover {
    text-decoration:underline
}

.storenav_area_l ul {
    list-style:none;
    margin:0;
    padding:0
}

.storenav_area_l li {
    float:left;
    margin:0;
    padding:0 15px 0 0;
    font-size:13px
}

.storenav_area_r address {
    font-size:11px;
    font-style:normal
}


/*-------------------------------------------------------------------*/
.small_cont{
 width: 1200px;
 margin: 0 auto 150px;
}
.small_cont * { font-family: Roboto, "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"MS Pゴシック","MS PGothic",sans-serif;}

.lp-title{
 color: #999;
 font-size: 30px;
 font-weight: bold;
 margin-top: 50px;
 margin-bottom: 50px;
 border: solid 1px #999;
 -webkit-border-radius: 8px;
 -moz-border-radius: 8px;
 border-radius: 8px;
 padding: 10px 20px 10px 20px;
}

.lp-title2{
 color: #999;
 font-size: 30px;
 margin-top: 80px;
 margin-bottom: 50px;
 border-bottom: solid 1px #999;
 padding: 10px 20px 4px 20px;
}
.item_copy{
 color: #999;
 font-weight: bold;
 font-size: 20px;
 margin-bottom: 20px;
}


.small_lr{
 margin-bottom: 50px;
}
.small_lr:before,
.small_lr:after {
	display: table;
	content: "";
}
.small_lr:after { clear: both;}
.clearfix { *zoom: 1;}

.small_l{
 width: 570px;
 float: left;
 text-align: center;
}
.small_l img,
.small_r img{
 width: 570px;
}
.small_r{
 width: 570px;
 float: right;
 padding-top: 90px;
}


.item_text{
 color: #666;
 font-size: 16px;
 line-height: 2em;
}
.item_text a{
 color: #1e7db4;
 text-decoration: underline;
}
.item_text a:hover{
 text-decoration: none;
}

.item_name{
 margin-top: 30px;
 color: #333;
 font-size: 16px;
 line-height: 2em;
}
.item_name a{
 color: #333;
 text-decoration: underline;
}
.item_name a:hover{
 text-decoration: none;
}

.item_price{
	margin-top: 10px;
	color: #333;
	font-size: 36px;
}
.item_price span{
 color: #666;
 font-size: 12px;
}

.small_r_btn{
 margin-top: 20px;
}
.small_r_btn a{
 padding: 12px 50px 12px 50px;
 color: #154f9b;
 font-size: 20px;
 border: solid 1px #154f9b;
 -webkit-border-radius: 6px;
 -moz-border-radius: 6px;
 border-radius: 6px;
 text-decoration: none;
}
.small_r_btn a:hover{
 color: #fff;
 background-color: #333;
 border: solid 1px #333;
}


.small_cont iframe{
 height: 675px;
}






.small_tx{
 color: #666;
 font-size: 16px;
 line-height: 2em;
 padding: 30px 0px 40px 0px;
}

.small_2l{
 float: left;
}
.small_2{
 float: right;
}

.small_2l,
.small_2{
 width: 540px;
}
.small_2l img,
.small_2 img{
 width: 540px;
}
.small_2l{
 margin-right: 18px;
}


.small_ti3{
 color: #999;
 font-size: 30px;
 margin-top: 80px;
 margin-bottom: 50px;
 border-bottom: solid 1px #999;
 padding: 10px 20px 4px 20px;
}



.small_more{
 text-align: center;
 margin-bottom: 100px;
}
.small_more a{
 min-width: 220px;
 margin: 0 auto;
 display: inline-block;
 color: #333;
 font-size: 16px;
 border: solid 1px #333;
 padding: 8px 16px;
 text-decoration: none;
}
.small_more a:hover{
 color: #fff;
 background-color: #333;
 border: solid 1px #333;
 text-decoration: none;
}


/* clearfix */
.small_area {
	*zoom: 1;
}
.small_area:before,
.small_area:after {
	display: table;
	content: "";
}
.small_area:after {
	clear: both;
}

/* banner 間隔詰め */
.small_area.banner {
	padding: 0 35px;
}
.small_area.banner .small_more {
	margin-top: 20px;
	margin-bottom: 30px;
}
.small_area.banner .small_tx + .small_more {
	margin-top: 0;
}


/*-------------------------------------------------------------------*/
}